{% extends 'base.html.twig' %}
{% block head %}
{% block title %}First one test{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

<link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">

<script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}

{% endblock %}
{% block body %}
<div id="login-barre">
<div class="login">
    <a href="login">Login</a>
</div>

</div>
<div id="row">
        <div id="container">
            
            <div id="searchbar">
                
                        <h1>Qu'aimeriez-vous chercher ?</h1>
                <form action="" class="formulaire">
               <input class="champ" type="text" placeholder="Chercher..."/>
                    <input class="bouton" type="button" value=" " />
                     
                </form>
                
            </div>
            
</div>
</div>

{% endblock %}