{% extends 'base.html.twig' %}
{% block head %}
{% block title %}First one test{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

<link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">

<script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}

{% endblock %}
{% block body %}
<div id="login-barre">
<div class="login">
    <a href="login">Login</a>
</div>

</div>
<div id="row">
        <div id="container">
            
            <div id="searchbar">
                
                <div class="container">
                    <div class="row">
                      <div class="col-xl-9 mx-auto">
                        <h2 class="mb-4">Chercher température d'une région</h2>
                      </div>
                      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form>
                          <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                              <input type="email" class="form-control form-control-lg" placeholder="Chercher une région...">
                            </div>
                            <div class="col-12 col-md-3">
                              <button type="submit" class="btn btn-block btn-lg btn-primary">Chercher</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                
            </div>
            
</div>
</div>

{% endblock %}